root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,h,hpp,cxx,cc}]
indent_style = space
indent_size = 4

[*.{cmake,txt,md,desktop,svg,qrc,py,sh}]
indent_style = space
indent_size = 2

[*.sh]
indent_size = 2
